body{
    font-family: 'Courier New';
    text-align: center;
    color: white;
    margin: 0px;
}

header, footer{
    background-color: green;
    margin: 0px;
    padding: 10px;
}

.header > nav{
    border: 2px solid white; 
    border-radius: 40px;
    max-width: 700px;
    margin: auto;
}

.menu{
    color: white;
    text-decoration: none;
    display: inline-block;
    margin: 0px 20px;
    font-size: 20px;
}

.menu:hover, .menu.active{
    color: yellow !important; 
}

.submenu{
    font-size: 13px;
    text-transform: uppercase;
}

.submenu:hover, .submenu.active{
    color: yellow !important; 
}

.dropdown-menu{
    border: 0px;
    border-radius: 0px;
    padding: 20px 10px;
}

.dropdown-menu a:hover, .dropdown-menu:active, .dropdown-menu:focus{
    background-color: rgb(19, 110, 31);
}

main{
    background-color: black;
}

.filme_paixao{
    text-align: left;
}

.filmes{
    background-color: rgba(0, 255, 0, 0.25);
    border: 2px solid rgb(0, 255, 0);
    border-radius: 20px;
    width: 275px;
    display: inline-block;
    margin: 60px 100px;
    cursor: pointer;
}

.filmes:hover{
    background-color: rgba(255, 255, 0, 0.75);
    border: 2px solid rgb(255, 255, 0);
}

.filmes img{
    max-width: 275px;
    max-height: 300px;
}

.main{
    padding: 10px 445px 10px 445px;
}

.main > h2{
    font-size: 32px;
}

.main > img{
    border: 2px solid rgb(0, 255, 0);
    border-radius: 10px;
    width: 275px;
    height: 350px;
}

button{
    background-color: rgba(0, 255, 0, 0.25);
    border: 2px solid rgb(0, 255, 0);
    border-radius: 10px;
    cursor: pointer;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
}

button:hover{
    background-color: rgba(255, 255, 0, 0.75);
    border: 2px solid rgb(255, 255, 0);
}

.t1{
    font-weight: 600 !important;
    font-size: 25px !important;
    text-transform: uppercase;
}

.p{
    font-weight: lighter;
    font-size: 13px;
}

.titulo-campo{
    font-weight: medium !important;
    font-size: 15px;
    text-transform: uppercase;
}

.icone{
    width: 37px;
    height: 37px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.icone-instagram{
    background-image: url("imagens/instagram1.svg");
}

.icone-instagram:hover{
    background-image: url("imagens/instagram2.svg");
}

.icone-facebook{
    background-image: url("imagens/facebook1.svg");
}

.icone-facebook:hover{
    background-image: url("imagens/facebook2.svg");
}

.icone-linkedin{
    background-image: url("imagens/linkedin1.svg");
}

.icone-linkedin:hover{
    background-image: url("imagens/linkedin2.svg");
}

@media all and (max-width: 950px){
    .header > nav{
        width: 500px;
    }
    
    .header > nav > a{
        color: white;
        text-decoration: none;
        display: inline-block;
        margin: 0px 20px;
    }
    
    .filmes{
        background-color: rgba(255, 0, 0, 0.25);
        border: 2px solid rgb(255, 0, 0);
        border-radius: 20px;
        width: 275px;
        display: inline-block;
        margin: 30px 50px;
        cursor: pointer;
    }
    
    .filmes:hover{
        background-color: rgba(255, 255, 0, 0.75);
        border: 2px solid rgb(255, 255, 0);
    }
    
    .main > img{
        border: 2px solid rgb(255, 0, 0);
        border-radius: 10px;
        width: 275px;
        height: 350px;
    }
    
    button{
        background-color: rgba(255, 0, 0, 0.25);
        border: 2px solid rgb(255, 0, 0);
        border-radius: 10px;
        cursor: pointer;
        color: white;
        padding: 10px 20px;
        font-size: 20px;
    }
    
    button:hover{
        background-color: rgba(255, 255, 0, 0.75);
        border: 2px solid rgb(255, 255, 0);
    }
}

@media all and (max-width: 575px){

    .header > nav{
        width: 300px;
    }

    .menu{
        margin: 0px 10px;
        font-size: 16px;
    }
}